@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia/georgia\ bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia/Georgia\ Regular\ font.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia/georgia\ italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial/ArialMT.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial/Arial-ItalicMT.ttf);
  font-weight: 400;
  font-style: italic;
}

*,
*::after,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #545454;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
html {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

._container {
  max-width: 1200px;
  margin: 0px auto;
}

.fixed {
  position: relative;
  z-index: 1;
}

.header {
  position: fixed;
  width: 100%;
  background: white;
  padding: 30px 0;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  text-align: center;
}

.header_logo h1 {
  font-size: 32px;
  color: #545454;
  margin-bottom: 10px;
  line-height: 35px;
  letter-spacing: 0.06em;
  font-family: Georgia;
}

.header_logo span {
  color: #545454;
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 15px;
  font-family: Arial;
}

.header3 {
  width: 300px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: start;
  font-family: Georgia;
}

.navigation {
  display: flex;
}

.navigation li {
  margin-right: 36px;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}

.underline{
  border-bottom: 2px solid #F1CDB3;
}

.navigation li:last-child {
  margin-right: 0;
}

.nav_burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: pointer;
  z-index: 2;
}

.nav_burger .open {
  display: flex;

}

.background {
  width: 100%;
  height: 5291px;
  position: absolute;
  z-index: 2;
  background-color: rgba(41, 41, 41, 0.6);
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
  margin: 4px 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.nav_burger.open .line1 {
  transform: rotate(90deg) translate(10px, -9px);
}

.nav_burger.open .line2 {
  transform: rotate(90deg) translate(0px, 1px);
}

.nav_burger.open .line3 {
  transform: rotate(90deg) translate(-10px, 11px);
}

.button_slider {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: white;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  vertical-align: center;
}

.button_slider:disabled {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.button_close {
  position: absolute;
  width: 52px;
  height: 52px;
  top: -53px;
  right: -52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background: url('../../assets/icons/close.png') no-repeat;
  background-position: center;
}

.button_close:hover {
  cursor: pointer;
}

.active:hover {
  cursor: pointer;
  background-color: #f5dcc9;
}

.active {
  border: 2px solid #F1CDB3;
}

.active_page {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
  color: #292929;
}

.button {
  background-color: #F1CDB3;
  border-radius: 100px;
  align-items: center;
  padding: 15px 45px;
  color: #292929;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  line-height: 130%;
}

.button_cards {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: white;
  align-items: center;
  padding: 13px 43px;
  margin: 30px 0;
  font-family: Georgia;
}

.button:hover,
.button_cards:hover {
  cursor: pointer;
  background-color: #f5dcc9;
  text-decoration: underline;
}

.main {
  padding-top: 120px;
  background: #F6F6F6;
}

.pets {
  padding-top: 80px;
  padding-bottom: 54px;
}

.pets_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pets_item h3 {
  width: 400px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  font-family: Georgia;
  margin: 0  auto 59px auto;
}

.pets_cards {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  row-gap: 30px;
  column-gap: 10px;
  margin-bottom: 60px;
  min-height: 930px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 270px;
  animation: show 1s;
}


.card:hover {
  cursor: pointer;
  background-color: #fefbf9;
}

.card img {
  margin-bottom: 30px;
  max-width: 100%;
}

.card p {
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  font-family: 'Georgia';
}

.main_navigation {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px auto 46px auto;
}


.footer-item {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  padding: 40px 20px 0 20px;
}

.footer {
  display: flex;  
  justify-content: space-between;
}

.footer_contacts {
  max-width: 40%;
  margin-top: 16px;
}

.footer_location {
  max-width: 40%;
  margin-top: 16px;
}

.footer_contacts h3 {
  margin-bottom: 42px;
  color:white;
}

.footer_location h3 {
  margin-bottom: 32px;
  color:white;
}

.address {
  margin-bottom: 32px;
  max-width: 322px;
}
.address a {
  width: 41px;
}

.email{
  margin-bottom: 42px;
}

.footer-detail {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  font-family: Georgia;
  display: flex;
  align-items: center;
}

.footer-detail a {
  margin-right: 20px;
  max-width: 100%;
}

.footer-detail a span{
  color: #F1CDB3;
}

.popupLarge {
  display: flex;
  position: relative;
  width: 900px;
  background-color: white;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: show 1s;
}

.popupInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 50px 20px auto 30px;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: left;
  font-family: Georgia;
  font-size: 15px;
  line-height: 110%;
}

.popupInfo .popuph3 {
  font-size: 35px;
  line-height: 130%;
  margin-bottom: 10px;
}

.popuph4 {
  font-size: 20px;
  line-height: 115%;
}

.popupDescription {
  margin: 40px 0;
}

.popupMainInfo {
  color: #F1CDB3;
}
.popupLi {
  margin-bottom: 5px;
}

.popupLi span{
  color: #000000;
}

.popupLi span:first-child {
  font-weight: bold;
}

.popupImage {
  display: block;
  width: 500px;
  height: 500px;
}

@keyframes show {
  from {opacity: 0;} to {opacity: 1;}
}

@media screen and (max-width: 1279px) and (min-width:768px) {
  .header {
    padding: 30px;
  }

  .pets {
    padding-bottom: 27px;
  }

  .pets_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pets_cards {
    grid-template-columns: repeat(2, 270px);
    gap: 30px 40px;
    margin-bottom: 0px;
  }

  .pets_item h3 {
    margin-bottom: 27px;
  }

  /* .card:last-child,
  .card:nth-child(7) {
    display: none;
  } */

  .footer {
    column-gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-item {
    padding-top: 14px;
  }

  .footer_contacts {
    max-width: 278px;
  }

  .footer_location {
    max-width: 302px;
  }

  .footer_image {
    margin-top: 23px;
  }

  .popupLarge {
    width: 630px;
  }

  .popupImage {
    width: 350px;
    height: 350px;
  }

  .popupInfo {
    margin: 10px 10px auto 10px;
  }
  
  .popupDescription {
    margin: 20px 0;
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 30px 53px 30px 10px;
  }

  .nav_burger {
    display: flex;
  }

  .nav {
    position: absolute;
    background-color: #F6F6F6;
    top: 0;
    z-index: 1;
    font-size: 35px;
    overflow-x: hidden;
    right: -500px;
    transition: 0.5s;
  }

  .header_logo_nav {
    position: absolute;
    top: 30px;
    left: 10px;
  }

  .nav.open {
    right: 0;
    transition: 0.5s;
    height: 5290px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    padding: 249px 0;
    margin: 0 38px;
    align-items: center;
  }

  .navigation li {
    margin-right: 0;
    text-align: center;
  }

  .nav_link {
    font-family: Arial;
    font-size: 32px;
    line-height: 160%;
    margin-bottom: 40px;
  }

  .nav_item {
    margin-bottom: 40px;
  }

  .nav_item:last-child {
    margin-bottom: 0;
  }

  .pets {
    padding: 42px 10px 0;
  }

  .pets_content {
    margin: 0 auto;
  }

  .pets_item h3 {
    font-size: 25px;
    max-width: 300px;
    margin-bottom: 41px;
  }

  .pets_cards {
    grid-template-columns: repeat(1, 270px);
    column-gap: 0;
    margin-left: 15px;
    margin-bottom: 40px;
  }

  /* .pets_cards li{
    display: none;
  }
  
  .pets_cards li:first-child,
  .pets_cards li:nth-child(2),
  .pets_cards li:nth-child(3){
    display: block;
  } */
  
  .button_cards {
    margin: 30px 41px;
  }

  .main_navigation {
    width: 300px;
    margin-bottom: 38px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-item {
    padding: 30px 10px 0 10px;
  }

  .footer_contacts,
  .footer_location {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .footer_location {
    align-items: flex-start;
  }

  .footer_location h3 {
    margin-bottom: 38px;
  }
  
  .footer-detail.email {
    padding-left: 19px;
  }

  .address:first-child {
    margin-bottom: 40px;
  }

  a.footer_link {
    margin-right: 0;
  }

  .footer-detail:nth-child(4) {
    margin-top: 4px;
  }

  .footer-detail a .map{
    margin-left: 0;
    margin-top: 8px;
  }

  .footer_image {
    margin: 42px 20px 0;
  }

  .footer_image img {
    max-width: 260px;
  }

  .adress_link {
    margin-top: 7px;
  }

  .header3 {
    font-size: 25px;
    padding: 0 23px;
    text-align: center;
  }

  .popupLarge {
    width: 240px;
    margin-right: 30px;
    padding: 10px;
    padding-top:0;
  }

  .popupImage {
    display: none;
  }

  .popupInfo {
    margin: 10px 0 auto 0;
  }
  
  .popupDescription {
    margin: 22px 0;
    text-align: justify;
    font-size: 13px;
    line-height: 106%;

  }

  .popuph4,
  .popuph3 {
    text-align: center;
  }

  .popupLi {
    margin-bottom: 5px;
  }
}