@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia/georgia\ bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia/Georgia\ Regular\ font.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia/georgia\ italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial/ArialMT.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial/Arial-ItalicMT.ttf);
  font-weight: 400;
  font-style: italic;
}

*,
*::after,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #545454;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
html {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  /* overflow: hidden; */
}

._container {
  max-width: 1200px;
  margin: 0px auto;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header_logo {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  text-align: center;
}

.header_logo h1 {
  font-size: 32px;
  color: #545454;
  margin-bottom: 10px;
  line-height: 35px;
  letter-spacing: 0.06em;
  font-family: Georgia;
}

.header_logo span {
  color: #545454;
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 15px;
  font-family: Arial;
}

.navigation {
  display: flex;
}

.navigation li {
  margin-right: 36px;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}

.underline{
  border-bottom: 2px solid #F1CDB3;
}

.navigation li:last-child {
  margin-right: 0;
}

.button_slider {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: white;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.active {
  border: 2px solid #F1CDB3;
}

.no_active{
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.active_page {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
  color: #292929;
}

.button {
  background-color: #F1CDB3;
  border-radius: 100px;
  align-items: center;
  padding: 15px 45px;
  color: #292929;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  line-height: 130%;
}

.button_cards {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: white;
  align-items: center;
  padding: 13px 43px;
  margin: 30px 0;
  font-family: Georgia;
}

.pets {
  background: #F6F6F6;
  padding: 80px 40px 100px 40px;
}

.pets_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pets_item h3 {
  width: 400px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  font-family: Georgia;
  margin-bottom: 60px;
}

.pets_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.pets_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.card img {
  margin-bottom: 30px;
}

.card p {
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  font-family: 'Georgia';
}

.main_navigation {
  margin-top: 45px;
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  padding: 40px 40px 0 40px;
}

.footer {
  display: flex;  
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer_info {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.contacts h3 {
  margin-bottom: 42px;
  color:white;
}

.location h3 {
  margin-bottom: 32px;
  color:white;
}

.address {
  margin-bottom: 32px;
}

.email{
  margin-bottom: 42px;
}

.contacts {
  width: 278px;
}

.location {
  width: 302px;
}

.footer-detail {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  font-family: Georgia;
  display: flex;
  align-items: center;
}

.footer-detail img {
  margin-right: 20px;
  max-width: 100%;
}