@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia/georgia\ bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia/Georgia\ Regular\ font.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia/georgia\ italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial/ArialMT.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial/Arial-ItalicMT.ttf);
  font-weight: 400;
  font-style: italic;
}

*,
*::after,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

ul,
li,
ol {
  list-style: none;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
html {
  height: 100%;
  transition: 1s linear; 
  position: relative;
  z-index: 1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1200px;
  margin: 0px auto;
}

.button {
  background-color: #F1CDB3;
  border-radius: 100px;
  align-items: center;
  padding: 15px 45px;
  color: #292929;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  line-height: 130%;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  background-color: #f5dcc9;
  text-decoration: underline;
  transform: scaleY(1.1);
  border-radius: 100px;
  align-items: center;
  padding: 15px 45px;
  color: #292929;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  line-height: 130%;
}

.button_slider {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background-image: url('../../assets/icons/Arrow.png');
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
}

.button_slider:hover {
  cursor: pointer;
  background-color: #f5dcc9;
  transform: scaleY(1.2);
}

.button_slider2 {
  transform: rotate(180deg);
}

.button_slider2:hover {
  cursor: pointer;
  background-color: #f5dcc9;
  transform: scaleY(1.2) rotate(180deg);
}

.button_cards {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: white;
  align-items: center;
  padding: 13px 43px;
  margin: 30px 0;
  font-family: Georgia;
}

.button_cards:hover {
  cursor: pointer;
  background-color: #f5dcc9;
  text-decoration: underline;
}

.header {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  padding-top: 60px;
  position: relative;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  text-align: center;
}

.header_logo h1 {
  font-size: 32px;
  color: #F1CDB3;
  margin-bottom: 10px;
  line-height: 35px;
  letter-spacing: 0.06em;
  font-family: Georgia;
}

.header_logo span {
  color: white;
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 15px;
  font-family: Arial;
}

.navigation {
  display: flex;
}

.navigation li {
  margin-right: 36px;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}

.underline{
  border-bottom: 2px solid #F1CDB3;
}

.navigation li:last-child {
  margin-right: 0;
}

.nav_burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: pointer;
  z-index: 2;
}

.nav_burger .open {
  display: flex;
}

.background {
  width: 100%;
  height: 5291px;
  position: absolute;
  z-index: 1;
  background-color: rgba(41, 41, 41, 0.6);
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background: #F1CDB3;
  margin: 4px 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.nav_burger.open .line1 {
  transform: rotate(90deg) translate(10px, -9px);
  color: red;
}

.nav_burger.open .line2 {
  transform: rotate(90deg) translate(0px, 1px);
}

.nav_burger.open .line3 {
  transform: rotate(90deg) translate(-10px, 11px);
}

.main_start {
  display: flex;
  justify-content: space-between;
}

.main_content {
  max-width: 460px;
  max-height: 698px;
  margin-top: 223px;
}

.main_start_title {
  font-size: 44px;
  color: #FFFFFF;
  margin-bottom: 42px;
  padding-right: 150px;
  font-family: Georgia;
  line-height: 130%;
}

.main_start_content {
  font-size: 15px;
  color: #CDCDCD;
  margin-bottom: 42px;
  line-height: 24px;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}

.main_photo {
  margin-top: 60px;
}

.about_item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 80px 0 100px 0;
  justify-content: center;
}

.about_content {
  max-width: 430px;
}

.about_photo {
  margin-right: 120px;
}

.about_content h3 {
  font-size: 35px;
  color: #545454;
  margin-right: 60px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: 'Georgia';
}

.about_content p {
  margin-top: 24px;
  font-size: 15px;
  color: #4C4C4C;
  line-height: 160%;
  font-family: Arial;
  line-height: 160%;
}

.pets {
  background-color: #F6F6F6;
  padding: 80px 20px 100px 20px;
  position: relative;
}

.pets_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pets_item h3 {
  width: 400px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  font-family: Georgia;
  margin-bottom: 60px;
}

.pets_content {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.pets_cards {
  display: flex;
}

.animation {
  transition: all 0.5s;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 45px;
}

.card:hover {
  cursor: pointer;
  background-color: #fefbf9;
  transform: scale(1,1);
}

.card:hover .button_cards {
  background-color: #F1CDB3!important;
}

.card img {
  margin-bottom: 30px;
}

.card p {
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  font-family: 'Georgia';
}

.help_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 100px 0;
}

.help_item h3{
  width: 310px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  font-family: Georgia;
}

.help_list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  row-gap: 60px;
  column-gap: 115px;
  margin: 60px auto 0 auto;
}

.help_list li p {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
}

.help-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.help-card img {
  margin-bottom: 27px;
}

.donation {
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
}

.donation_item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 281px;
}

.donation_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 380px;
  margin-left: 30px;
}

.header3 {
  max-width: 300px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: start;
  font-family: Georgia;
}

.donation_card span {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 20px 0;
  font-family: Georgia;
}

.donation_card p {
  font-size: 12px;
  color: #B2B2B2;
  line-height: 18px;
  font-style: italic;
  width: 380px;
  font-family: Arial;
}

.credit_card {
  background: #F1CDB3;
  border-radius: 9px;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 20px;
  width: 349px;
}

.credit_card h4{
  display: inline-block;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  font-family: Georgia;
  font-weight: 400;
}

.credit_card img {
  margin-right: 10px;
  display: inline;
}

.footer-item {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  padding: 40px 20px 0 20px;
}

.footer {
  display: flex;  
  justify-content: space-between;
}

.footer_contacts {
  max-width: 40%;
  margin-top: 16px;
}

.footer_location {
  max-width: 40%;
  margin-top: 16px;
  margin-left: -20px;
}

.footer_contacts h3 {
  margin-bottom: 42px;
  color:white;
}

.footer_location h3 {
  margin-bottom: 32px;
  color:white;
}

.address {
  margin-bottom: 32px;
  max-width: 302px;
}
.address a {
  width: 41px;
}

.email{
  margin-bottom: 42px;
}

.footer-detail {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  font-family: Georgia;
  display: flex;
  align-items: center;
}

.footer-detail a {
  margin-right: 20px;
  max-width: 100%;
}

.footer-detail a span{
  color: #F1CDB3;
}

.map {
  margin: 0;
}

a.footer_link {
  margin-right: 0;
}

.popupLarge {
  display: flex;
  max-width: 900px;
  margin-left: 52px;
  margin-right: 52px;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 15%;
}

.popupInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 50px 20px auto 30px;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: left;
  font-family: Georgia;
  font-size: 15px;
  line-height: 110%;
}

.popuph3 {
  font-size: 35px;
  line-height: 130%;
  margin-bottom: 10px;
}

.popuph4 {
  font-size: 20px;
  line-height: 115%;
}

.popupDescription {
  margin: 40px 0;
}

.popupMainInfo {
  color: #F1CDB3;
}

.popupLi span{
  color: #000000;
}

.popupLi span:first-child {
  font-weight: bold;
}

.popupImage {
  display: block;
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 1279px)  {
  .header {
    padding: 30px 30px 0 30px;
  }

  .main_start {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .main_content {
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .main_photo {
    margin-top: -2px;
    margin-left: 138px;
  }

  .button_main {
    display: flex;
    justify-content: center;
  }

  .about_item {
    flex-direction: column-reverse;
  }

  .about_photo {
    margin-top: 80px;
    margin-right: 0;
  }

  .card {
    margin: 0;
  }

  .pets_cards {
    margin: auto 12px;
    column-gap: 40px;
  }

  .card:last-child{
    display: none;
  }

  .help_item {
    max-width: 630px;
  }
  
  .help_list {
    display: grid;
    grid-template-columns: repeat(3, 170px);
    column-gap: 60px;
  }

  .help-card {
    max-width: 170px;
  }

  .donation {
    padding-top: 78px;
  }

  .donation_item {
    flex-direction: column-reverse;
    max-height: none;
  }

  .donation_card {
    margin-left: 0;
  }

  .donation_img {
    margin-top: 61px;
  }

  .credit_card {
    padding: 7px 15px;
  }

  .credit_card img {
    display: inline;
  }

  .footer {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer-item {
    padding-top: 14px;
  }

  .footer_contacts {
    max-width: 50%;
  }

  .footer_location {
    max-width: 50%;
    margin-left: 0;
  }

  .footer_image {
    margin-top: 24px;
  }

  .map {
    margin: 0;
  }

  a.footer_link {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 30px 10px 0 10px;
  }

  .header_container {
    margin-right: 43px;
    align-items: initial;
  }

  .nav_burger {
    display: flex;
  }

  .nav {
    position: absolute;
    background-color: #292929;
    top: 0;
    z-index: 1;
    font-size: 35px;
    overflow-x: hidden;
    right: -500px;
    transition: 0.5s;
  }

  .header_logo_nav {
    position: absolute;
    top: 30px;
    left: 10px;
  }

  .nav.open {
    right: 0;
    transition: 0.5s;
    height: 5290px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    padding: 249px 0;
    margin: 0 38px;
    align-items: center;
  }

  .navigation li {
    margin-right: 0;
    text-align: center;
  }

  .nav_link {
    font-family: Arial;
    font-size: 32px;
    line-height: 160%;
    margin-bottom: 40px;
  }

  .nav_item {
    margin-bottom: 40px;
  }

  .nav_item:last-child {
    margin-bottom: 0;
  }

  .main_start_title {
    text-align: center;
    font-size: 25px;
    padding: 0 39px;
    letter-spacing: 0.06em;
  }

  .main_start_content {
    text-align: center;
  }

  .main_photo {
    margin-left: 40px;
    margin-top: 5px;
  }

  .about_item {
    padding: 42px 10px;
  }

  .about_content h3 {
    font-size: 25px;
    text-align: center;
    padding: 0 12px;
    margin-right: 0;
  }

  .about_content p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    margin-top: 23px;
  }

  .about_photo {
    margin-top: 40px;
    padding: 0 20px;
  }

  .pets {
    padding: 43px 10px;
  }

  .pets h3 {
    font-size: 25px;
    margin-bottom: 41px;
  }

  .button_slider {
    order: 2;
    margin: auto;
  }

  .pets_cards li{
    display: none;
  }
  
  .pets_cards li:first-child {
    display: block;
  }

  .pets_content {
    display: grid;
    grid-template-columns: repeat(2, 135px);
    grid-auto-rows: 435px 95px;
    margin-bottom: 19px;
  }

  .pets_cards {
    order: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 0;
    margin-right: 0;
  }

  .button_cards {
    margin: 30px 41px;
  }

  .help_item {
    padding: 42px 10px;
  }

  .help_item h3 {
    font-size: 25px;
    padding: 0 23px;
  }

  .help_list {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    gap: 30px;
    margin-top: 42px;
  }

  .help_list li p {
    font-size: 15px;
    line-height: 110%;
  }

  .help-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }

  .donation {
    padding: 42px 10px;

  }
  .donation span {
    letter-spacing: 0;
    padding: 0 13px;
    margin: 23px 0;
  }

  .donation_card {
    max-width: 300px;
  }

  .header3 {
    font-size: 25px;
    padding: 0 23px;
    text-align: center;
  }

  .credit_card {
    max-width: 281px;
    margin: auto;
  }

  .credit_card h4 {
    font-size: 15px;
    line-height: 110%;
  }

  .donation_card p {
    margin: 23px 10px;
    max-width: 280px;
    text-align: justify;
  }

  .donation_img  {
    margin: 19px 20px 0;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-item {
    padding: 30px 10px 0 10px;
  }

  .footer_contacts,
  .footer_location {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .footer_location {
    align-items: flex-start;
  }

  .footer_location h3 {
    margin-bottom: 38px;
  }
  
  .footer-detail.email {
    padding-left: 19px;
  }

  .address:first-child {
    margin-bottom: 40px;
  }

  a.footer_link {
    margin-right: 0;
  }

  .footer-detail a .map{
    margin-left: 0;
    margin-top: 8px;
  }

  .footer_image {
    margin: 10px 20px 0;
  }

  .adress_link {
    margin-top: 7px;
  }
}
